title = "index"
url = "/"
layout = "default"
is_hidden = 0
==
<!-- ========================= header start ========================= -->
    <header class="header">
      <div class="navbar-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index.html">
                  <img src="/themes/pkurg-appgrids/assets/img/logo/logo.svg" alt="Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                  <ul id="nav" class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="page-scroll" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#feature">Feature</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#tracking">Explore</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#download">Download</a>
                    </li>
                  </ul>
                </div>
                <!-- navbar collapse -->
              </nav>
              <!-- navbar -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- navbar area -->
    </header>
    <!-- ========================= header end ========================= -->

    <!-- ========================= hero-section start ========================= -->
    <section id="home" class="hero-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="hero-content">
              <h1 class="wow fadeInUp" data-wow-delay=".2s">
								You are using free lite version of AppGrids
							</h1>
              <p class="wow fadeInUp" data-wow-delay=".4s">
                Please, purchase full version of the template to get all sections, docs and permission to remove footer credits.
              </p>
              <div class="hero-btns">
								<a href="https://rebrand.ly/appgrids-gg/" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".6s">Purchase Now</a>
								<a href="https://rebrand.ly/appgrids-gg/" class="main-btn border-btn btn-hover wow fadeInUp" data-wow-delay=".6s">Learn More</a>
							</div>
            </div>
					</div>
					<div class="col-lg-6">
						<div class="hero-img wow fadeInUp" data-wow-delay=".5s">
							<img src="/themes/pkurg-appgrids/assets/img/hero/hero-img.png" alt="">
						</div>
					</div>
        </div>
			</div>
			<div class="hero-shape">
				<img src="/themes/pkurg-appgrids/assets/img/hero/hero-shape-1.svg" alt="" class="shape shape-1">
			</div>
    </section>
		<!-- ========================= hero-section end ========================= -->

		<!-- ========================= feature-section start ========================= -->
		<section id="feature" class="feature-section pt-140">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xxl-5 col-xl-6 col-lg-7">
						<div class="section-title text-center mb-30">
							<h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s">Awesome Features</h1>
							<p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor samet consetetur sadipscing elitr, serewd diam nonumy eirmod tempor invidunt ut labore.</p>
						</div>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-8 col-sm-10">
						<div class="single-feature">
							<div class="icon color-1">
								<i class="lni lni-pointer-up"></i>
							</div>
							<div class="content">
								<h3>Easy To Use</h3>
								<p>Lorem ipsum dolor samet consetet sadip scing elitr serewd diam nonumy eirmod tempor invidunt ut labore.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-8 col-sm-10">
						<div class="single-feature">
							<div class="icon color-2">
								<i class="lni lni-laptop-phone"></i>
							</div>
							<div class="content">
								<h3>Fully Responsive</h3>
								<p>Lorem ipsum dolor samet consetet sadip scing elitr serewd diam nonumy eirmod tempor invidunt ut labore.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-8 col-sm-10">
						<div class="single-feature">
							<div class="icon color-3">
								<i class="lni lni-bootstrap"></i>
							</div>
							<div class="content">
								<h3>Bootstrap 5</h3>
								<p>Lorem ipsum dolor samet consetet sadip scing elitr serewd diam nonumy eirmod tempor invidunt ut labore.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= feature-section end ========================= -->

		<!-- ========================= tracking-section start ========================= -->
		<section id="tracking" class="tracking-section pt-150">
			<div class="tracking-shape">
				<img src="/themes/pkurg-appgrids/assets/img/plan/plan-shape.svg" alt="" class="shape shape-1">
			</div>
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-xl-7">
						<div class="tracking-image">
							<img src="/themes/pkurg-appgrids/assets/img/plan/plan-img.png" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-xl-5">
						<div class="tracking-content">
							<div class="section-title mb-50">
								<h1 class="mb-40 wow fadeInUp" data-wow-delay=".2s">Why Use This App</h1>
								<p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor samet consenter discing elitr, serewd diam nonumy eirmod tempor invidunt ut labore.Lorem ipsum dolor samet consenter discing elitr, serewd diam nonumy eirmod tempor invidunt ut labore.</p>
							</div>
							<div class="single-plan">
								<div class="icon-style color-1">
									<i class="lni lni-map"></i>
								</div>
								<div class="content">
									<h3>Travel Tools</h3>
									<p>Lorem ipsum dolor samet consented sadie sling serewd diam nonumy eirmod tempor invidunt labore.</p>
								</div>
							</div>
							<div class="single-plan">
								<div class="icon-style color-2">
									<i class="lni lni-travel"></i>
								</div>
								<div class="content">
									<h3>Seat Tracker</h3>
									<p>Lorem ipsum dolor samet consented sadie sling serewd diam nonumy eirmod tempor invidunt labore.</p>
								</div>
							</div>
							<div class="single-plan">
								<div class="icon-style color-3">
									<i class="lni lni-map-marker"></i>
								</div>
								<div class="content">
									<h3>Point Tracker</h3>
									<p>Lorem ipsum dolor samet consented sadie sling serewd diam nonumy eirmod tempor invidunt labore.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= tracking-section end ========================= -->

		<!-- ========================= search-section start ========================= -->
		<section class="search-section pt-150">
			<div class="search-shape">
				<img src="/themes/pkurg-appgrids/assets/img/search/search-shape.svg" alt="" class="shape shape-1">
			</div>
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-5 col-lg-6 order-last order-lg-first">
						<div class="search-content">
							<div class="section-title mb-40">
								<h1 class="mb-40 wow fadeInUp" data-wow-delay=".2s">Explore and learn more about AppGrids</h1>
								<p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor samet consetetur sadipscing elitr, serewd diam nonumy eirmod tempor invidunt ut labore.Lorem ipsum dolor samet consetetur sadipscing elitr, serewd diam nonumy eirmod tempor invidunt ut labore.</p>
							</div>
							<div class="app-info">
								<div class="single-info">
									<div class="icon-style color-1">
										<h2>2.2</h2>
									</div>
									<h4>Version</h4>
								</div>
								<div class="single-info">
									<div class="icon-style color-2">
										<h2>9.5</h2>
									</div>
									<h4>Mb</h4>
								</div>
								<div class="single-info">
									<div class="icon-style color-3">
										<h2>4.5</h2>
									</div>
									<h4>Rating</h4>
								</div>
							</div>
							<p>Lorem ipsum dolor samet consetetur sadipscing elitr, serewd diam nonumy eirmod tempor invidunt.</p>
						</div>
					</div>

					<div class="col-xl-7 col-lg-6">
						<div class="search-img text-lg-right">
							<img src="/themes/pkurg-appgrids/assets/img/search/search-img.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= search-section end ========================= -->


		<!-- ========================= counter-up-section start ========================= -->
		<section class="counter-up-section pt-150">
			<div class="counter-shape">
				<img src="/themes/pkurg-appgrids/assets/img/count-up/counter-shape.svg" alt="" class="shape shape-1">
			</div>
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-7 col-lg-6">
						<div class="counter-up-img">
							<img src="/themes/pkurg-appgrids/assets/img/count-up/count-up-img.png" alt="">
						</div>
					</div>

					<div class="col-xl-5 col-lg-6">
						<div class="search-content">
							<div class="section-title mb-40">
								<h1 class="mb-40 wow fadeInUp" data-wow-delay=".2s">AppGrids Expericne in Statistics and Numbers</h1>
								<p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor samet consetetur sadipscing elitr, serewd diam nonumy eirmod tempor invidunt ut labore.Lorem ipsum dolor samet consetetur sadipscing elitr, serewd diam nonumy eirmod tempor invidunt ut labore.</p>
							</div>
							<div class="app-info">
								<div class="single-info">
									<div class="icon-style color-1">
										<h2 id="secondo1" class="countup" cup-end="2" cup-append="M+">2</h2>
									</div>
									<h4>Download</h4>
								</div>
								<div class="single-info">
									<div class="icon-style color-2">
										<h2 id="secondo2" class="countup" cup-end="5" cup-append="K+">5</h2>
									</div>
									<h4>Review</h4>
								</div>
								<div class="single-info">
									<div class="icon-style color-3">
										<h2 id="secondo3" class="countup" cup-end="9" cup-append="K+">9</h2>
									</div>
									<h4>Premium user</h4>
								</div>
							</div>
							<p>Lorem ipsum dolor samet consetetur sadipscing elitr, serewd diam nonumy eirmod tempor invidunt.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= counter-up-section end ========================= -->

		
		<!-- ========================= testimonial-section start ========================= -->
		<section id="testimonial" class="testimonial-section">
			<div class="container text-center">
			<h1>You are using free lite version of AppGrids</h1>
			<p>Please, purchase full version of the template to get all sections, docs and permission to remove footer credits.</p></br>
			<a href="https://rebrand.ly/appgrids-gg/" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".6s">Purchase Now</a>
			</div>
		</section>
    <!-- ========================= testimonial-section end ========================= -->

		<!-- ========================= download-section start ========================= -->
		<section id="download" class="download-section pt-130 pb-130">
			<div class="map-bg">
				<img src="/themes/pkurg-appgrids/assets/img/download/map-bg.svg" alt="">
			</div>
			<div class="download-shape">
				<img src="/themes/pkurg-appgrids/assets/img/download/download-shape.svg" alt="" class="shape shape-1">
			</div>
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 order-last order-lg-first">
						<div class="download-content mb-50">
							<div class="section-title mb-40">
								<h1 class="mb-30 wow fadeInUp" data-wow-delay=".2s">Install and Start Using</h1>
								<p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Lorem ipsum dolor sit arete.</p>
							</div>
							<ul class="download">
								<li>
									<a href="javascript:void(0)">
										<span class="icon"><i class="lni lni-apple"></i></span>
										<span class="text">Download on the <b>App Store</b> </span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)">
										<span class="icon"><i class="lni lni-play-store"></i></span>
										<span class="text">GET IT ON <b>Play Store</b> </span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="download-img mb-50 text-lg-right">
							<img src="/themes/pkurg-appgrids/assets/img/download/download-img.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= download-section end ========================= -->
		
    <!-- ========================= footer start ========================= -->
    <footer id="footer" class="footer">
			<div class="footer-shape">
				<img src="/themes/pkurg-appgrids/assets/img/footer/footer-shape-1.svg" alt="" class="shape shape-1">
			</div>
			<div class="container">
				<div class="widget-wrapper">
					<div class="row">
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
							<div class="footer-widget">
								<div class="logo">
									<a href="index.html">
										<img src="/themes/pkurg-appgrids/assets/img/logo/logo-2.svg" alt="" class="logo-2"> 
										<img src="/themes/pkurg-appgrids/assets/img/logo/logo.svg" alt="" class="logo-1"> 
									</a>
								</div>
								<ul class="socials">
									<li>
										<a href="javascript:void(0)"> <i class="lni lni-facebook-filled"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)"> <i class="lni lni-twitter-filled"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)"> <i class="lni lni-instagram-filled"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)"> <i class="lni lni-linkedin-original"></i> </a>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
							<div class="footer-widget">
								<h3>Features</h3>
								<ul class="links">
									<li> <a href="javascript:void(0)">Easy to use</a> </li>
									<li> <a href="javascript:void(0)">Work on all device</a> </li>
									<li> <a href="javascript:void(0)">Always up to date</a> </li>
									<li> <a href="javascript:void(0)">Track your devices</a> </li>
								</ul>
							</div>
						</div>

						<div class="col-xl-3 col-lg-2 col-md-6 col-sm-6">
							<div class="footer-widget">
								<h3>About Us</h3>
								<ul class="links">
									<li> <a href="javascript:void(0)">Home</a> </li>
									<li> <a href="javascript:void(0)">Features</a> </li>
									<li> <a href="javascript:void(0)">Explore</a> </li>
									<li> <a href="javascript:void(0)">Testimonials</a> </li>
								</ul>
							</div>
						</div>
						
						<div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
							<div class="footer-widget">
								<h3>Support</h3>
								<ul class="links">
									<li> <a href="javascript:void(0)">About Us</a> </li>
									<li> <a href="javascript:void(0)">Privacy Policy</a> </li>
									<li> <a href="javascript:void(0)">Terms of Service</a> </li>
									<li> <a href="javascript:void(0)">Accessibility</a> </li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="copy-right-wrapper">
					<p>Designed and Developed by <a href="https://graygrids.com" rel="nofollow" target="_blank">GrayGrids</a></p>
				</div>
			</div>

			
		</footer>